@font-face {
  font-family: 'conspiracy';
  src: local('conspiracy'), url(./Fonts/CONSPIRA.woff) format('woff');
}

.App {
  font-family: conspiracy;
  text-align: left;
  height: 100vh;
  width: 100vw;
}

.Base {
  background-color: white;
  background-image: url(./images/SCP.png);
  background-position: center;
  background-repeat: no-repeat;
  opacity: .75;
}

.Safe {
  background-color: white;
  background-image: url(./images/Safe.png);
  background-position: center;
  background-repeat: no-repeat;
}

.Euclid {
  background-color: white;
  background-image: url(./images/Euclid.png);
  background-position: center;
  background-repeat: no-repeat;
}

.Keter {
  background-color: white;
  background-image: url(./images/Keter.png);
  background-position: center;
  background-repeat: no-repeat;
  
}

.Thaumiel {
  background-color: white;
  background-image: url(./images/Thaumiel.png);
  background-position: center;
  background-repeat: no-repeat;
}

.Apollyon {
  background-color: white;
  background-image: url(./images/Apollyon.png);
  background-position: center;
  background-repeat: no-repeat;
}

header {
    text-align: center;
}

.headingMobile {
  display: none;
}

.navBar {
  text-align: center;
}

.activeNav {
  color: black;
}

a {
  text-decoration: none !important;
  color: darkslategray !important;
  margin-right: 20px !important;
  cursor: pointer;
}
* {
  width: auto;
  text-align: center;
}

a:hover {
  color: black !important;
}

.subNav a {
  display: inline;

}

/* styling for data on pages */

.dataText {
  text-align: left;
  margin-left: 1em;

}

.actieLink {
  text-decoration: underline !important;
  text-decoration-color: black !important;
}

.dataNavMobile {
  width: auto;
  text-align: center;
  display: none;
}

@media (max-width: 1000px) {
  .dataNav {display: none;}
  .dataNavMobile {display: inline-block;}
  .heading {display: none;}
  .headingMobile {display: inline-block;}
  a {
    size: .5rem;
  }
}