@font-face {
  font-family: 'conspiracy';
  src: local('conspiracy'), url(./Fonts/CONSPIRA.woff) format('woff');
}

.App {
  font-family: conspiracy;
  text-align: left;
  background-color: white;
  background-image: url(./images/center_logo.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
}

header {
    text-align: center;
}

.headingMobile {
  display: none;
}

.navBar {
  text-align: center;
}

.activeNav {
  color: black;
}

a {
  text-decoration: none !important;
  color: darkslategray !important;
  margin-left: 20px !important;
  cursor: pointer;
}
* {
  width: auto;
  text-align: center;
}

a:hover {
  color: black !important;
}

.subNav a {
  display: inline;

}

/* styling for data on pages */



.dataText {
  text-align: left;
  margin-left: 1em;

}

.dataNavMobile {
  width: auto;
  text-align: center;
  display: none;
}

@media (max-width: 1000px) {
  .dataNav {display: none;}
  .dataNavMobile {display: inline-block;}
  .heading {display: none;}
  .headingMobile {display: inline-block;}
}